b.dat
value.dat
col_ind.dat
row_ptr.dat              
x.dat
bin0/row_ptr.dat
	bin1/row_ptr.dat
	bin10/row_ptr.dat
	bin11/row_ptr.dat
	bin12/row_ptr.dat
	bin13/row_ptr.dat
	bin14/row_ptr.dat
	bin15/row_ptr.dat
	bin16/row_ptr.dat
	bin17/row_ptr.dat
	bin18/row_ptr.dat
	bin19/row_ptr.dat
	bin2/row_ptr.dat
	bin20/row_ptr.dat
	bin21/row_ptr.dat
	bin22/row_ptr.dat
	bin23/row_ptr.dat
	bin24/row_ptr.dat
	bin25/row_ptr.dat
	bin26/row_ptr.dat
	bin27/row_ptr.dat
	bin28/row_ptr.dat
	bin29/row_ptr.dat
	bin3/row_ptr.dat
	bin30/row_ptr.dat
	bin31/row_ptr.dat
	bin32/row_ptr.dat
	bin33/row_ptr.dat
	bin34/row_ptr.dat
	bin35/row_ptr.dat
	bin36/row_ptr.dat
	bin37/row_ptr.dat
	bin38/row_ptr.dat
	bin39/row_ptr.dat
	bin4/row_ptr.dat
	bin40/row_ptr.dat
	bin41/row_ptr.dat
	bin42/row_ptr.dat
	bin43/row_ptr.dat
	bin44/row_ptr.dat
	bin45/row_ptr.dat
	bin46/row_ptr.dat
	bin47/row_ptr.dat
	bin48/row_ptr.dat
	bin49/row_ptr.dat
	bin5/row_ptr.dat
	bin50/row_ptr.dat
	bin51/
	bin52/row_ptr.dat
	bin53/
	bin6/row_ptr.dat
	bin7/row_ptr.dat
	bin8/row_ptr.dat
	bin9/row_ptr.dat


